<h1>Homepage</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Section</th>
    <th>Abstract</th>
    <th>URL</th>
    <th>Byline</th>
  </tr>
  <tr>
    <td><%= @article[0] %></td>
    <td><%= @article[1] %></td>
    <td><%= @article[2] %></td>
    <td><%= @article[3] %></td>
    <td><%= @article[4] %></td>
  </tr>
</table>
