<h1>Show Page</h1>
<h2><%= @article['title'] %></h1>
<h3><%= @article['section'] %></h3>
<p><%= @article['abstract'] %></p>
<p><a href='<%= @article["url"] %>'><%= @article["short_url"] %></a></p>
<p><%= @article['byline'] %></p>
